<div class="record-row <%= cycle " odd", "even" , name: "row-cycler" %>
    flexbox vertical stretch">
    <%= station.identifier %>: <%= station.name %> (<%= station.address %>)
    --- Number of bikes available: <%= station.docked_bikes.count %> ---
    Status: <%= station.status %>
    <%= link_to("Show", station_path(station), class: 'action show') %>
    <%= link_to("Edit", edit_station_path(station), class: 'action edit') %>  
    <%= link_to("Delete", delete_station_path(station), class: 'action delete') %>
</div>