<div class="record-row <%= cycle " odd", "even" , name: "row-cycler" %>
    flexbox vertical stretch">
    <%= station.identifier %>: <%= station.name %> (<%= station.address %>)---------Number of bikes available: <%= station.count %>
</div>