<div class="stations show">
  <p><%= link_to('Back to Station List', stations_path) %></p>
  <h2>Showing <%=@station.name%></h2>

  <div class="actions">
    <%= link_to('Edit', edit_station_path(@station)) %>
    <%= link_to('Delete', delete_station_path(@station)) %>
  </div>

  <table summary="station detail view">
    <tr>
        <th>Address</th>
        <td><%= @station.address %></td>
    </tr>
    <tr>
        <th>Status</th>
        <td><%= @station.status%></td>
    </tr>
    <tr>
        <th>Longitude</th>
        <td><%= @station.longitude %></td>
    </tr>
    <tr>
        <th>Latitude</th>
        <td><%= @station.latitude %></td>
    </tr>
    <tr>
        <th>Theme Name</th>
        <td><%= @station.theme_name %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @station.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @station.updated_at %></td>
    </tr>
  </table>

  <h3>Bikes docked here</h3>
  <table summary="Docked bikes">
  <%for bike in @station.docked_bikes do%>
    <tr>
      <td><%=bike.identifier%> at station <%=bike.current_station_id%> <%= link_to("show", bike_path(bike)) %></td>
    </tr>
  <%end%>
  </table>
</div>
