<div class="stations show">
  <p><%= link_to('Back to Station List', stations_path) %></p>
  <h2>Showing <%=@station.identifier%>: <%=@station.name%></h2>

  <div class="actions">
  </div>
  <div class="record-row2 vertical center">
    <table summary="station detail view">
      <tr>
          <th>Address</th>
          <td><%= @station.address %></td>
      </tr>
      <tr>
          <th>Status</th>
          <td><%= @station.status%></td>
      </tr>
      <tr>
          <th>Latitude</th>
          <td><%= @station.latitude %></td>
      </tr>
      <tr>
          <th>Longitude</th>
          <td><%= @station.longitude %></td>
      </tr>
      <tr>
          <th>Theme Name</th>
          <td><%= @station.theme_name %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @station.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @station.updated_at %></td>
      </tr>
    </table>
    <%= link_to "<button class='show_rent'>Edit</button>".html_safe, edit_station_path(@station), class: 'action edit' %>
    <%= link_to "<button class='show_rent'>Delete</button>".html_safe, delete_station_path(@station), class: 'action delete' %>
  </div>

  <br><br>
  <h3>Bikes docked here</h3>
  <%= link_to "<button class='show_rent'>New Bike</button>".html_safe, new_bike_path %>
  <div class="station-bike-space">
    <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
  </div>
</div>
