<div class="page-section flexbox vertical stretch">
  <% if user_signed_in? %>

    <div class="section-inner flexbox vertical stretch"> 
      <div class="section-title">
          Welcome <%= current_user.firstname %> <%= current_user.lastname %>
      </div>

      <div class = "user-information" style="border: 1px solid var(--lightgreen-color); padding: 10px; width: 50%; margin: 5px; text-align: left">
            <h2>User Information</h2>
            <table summary="user information">
            <tr>
              <th>First Name:</th>
              <td><%= current_user.firstname %></td>
            </tr>
            <tr>
              <th>Last Name:</th>
                <td><%= current_user.lastname%></td>
            </tr>
            <tr>
              <th>Email:</th>
                <td><%= current_user.email%></td>
            </tr>
            <td><%= link_to('Edit User Info', edit_user_registration_path) %></td>
            </table>
      </div>

      <div class = "user-information" style="border: 1px solid var(--lightgreen-color); padding: 10px; width: 50%; margin: 5px; text-align: left">
        <h2>Card Information</h2>
          <table summary="Payment information">
            <% if Card.find_by(user_id: current_user.id).present? %>
              <% @card = Card.find_by(user_id: current_user.id) %>
                <tr>
                <th>Name on Card: </th>
                <td><%=@card.name%>
                </tr>
                <tr>
                <th>Card Number: </th>
                <td>xxxx xxxx xxxx <%=@card.card_number[-4..-1]%>
                </tr>
                <td><%= link_to "Edit Card Info", edit_card_path(@card)%></td>
                <td><%= link_to "Back", users_path%><td>
            <%else %>
              <p>You do not have a card on file. Please add a new card. </p>
              <%= link_to "Add card", new_card_path(@card)%>
            <% end %>
          </table>
      </div>

    </div>
    
  <%else %>
    <p>Please Sign Up or Sign In to view the content.</p>
    <h2><%= link_to "Sign up or Sign In", user_session_path%>
  <% end %>

</div>