<!DOCTYPE html>
<html>
  <body>

    <div class="page-section flexbox horizontal stretch justify-space-between">
      
      <div class = "left-section">   <!-- move to left  -->
        <%= render "layouts/usersidebar"%>
      </div>

      <div class="flexbox vertical stretch " style = "width: 55em;">
        <h4>
          Your current rentals: 
        </h4>  
        <div class="flexbox vertical stretch">
          <div class = "rental-side-bar" >
            <% Rental.all.each do |rental| %>
              <%if rental.user_id == current_user.id && rental.status == "open"%>
                <button type="button" class="collapsible" ><%=rental.date_created%></button>
                <div class="content ">
                  <div> Start time: <%=rental.start%></div>
                  <div> Start station: <%=Station.find_by(identifier: rental.start_station_id).theme_name%></div>
                  <div> Bike: <%=Bike.find_by(identifier: rental.bike_id).theme_name%></div>
                  <div> <%=link_to("End rental", edit_rental_path(rental))%> </div>
                </div>
              <% end %>
            <%end%>
          </div>
          <!-- <%= link_to "Back", users_path%> -->
        </div>
      </div>

    </div>
  </body>
</html>