<!DOCTYPE html>
<html>
  <body>


    <div class="page-section flexbox horizontal stretch justify-space-between" style = "max-width: 55em; margin-left: -380px" >
      
      <div class = "left-section">   <!-- move to left  -->
        <%= render "layouts/usersidebar"%>
      </div>

      <%# <div class="section-inner flexbox vertical stretch"> %>
        
        <%# </div>   %>
        <div class="flexbox vertical stretch">
            Your current rentals: 
          <div class = "rental-side-bar" >
            <% Rental.all.each do |rental| %>
              
              <%if rental.user_id == current_user.id && rental.status == "open"%>
                <button type="button" class="collapsible" ><%=rental.date_created%></button>
                <div class="content">
                  <p> Start time: <%=rental.start%></p>
                  <p> Start station: <%=Station.find_by(identifier: rental.start_station_id).theme_name%></p>
                  <p> Bike: <%=Bike.find_by(identifier: rental.bike_id).theme_name%></p>
                  <p> <%=link_to("End rental", edit_rental_path(rental))%> </p>
                </div>
              <% end %>
            <%end%>
          </div>
          <!-- <%= link_to "Back", users_path%> -->
        </div>
      </div>
    </div>


  </body>
</html>