<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <% if user_signed_in? %>
      <div class="section-title">
        Your current rentals: 
      </div>  
      <div class="flexbox vertical stretch">
        <div class = "rental-side-bar" >
          <% Rental.all.each do |rental| %>
            
            <%if rental.user_id == current_user.id && rental.status == "open"%>
              <button type="button" class="collapsible" ><%=rental.date_created%></button>
              <div class="content">
                <p> Start time: <%=rental.start%></p>
                <p> Start station: <%=Station.find_by(identifier: rental.start_station_id).theme_name%></p>
                <p> Bike: <%=Bike.find_by(identifier: rental.bike_id).theme_name%></p>
                <p> <%=link_to("End rental", edit_rental_path(rental))%> </p>
              </div>
            <% end %>
          <%end%>
        </div>
        <%= link_to "Back", users_path%>
      </div>
    <% else %>
      You are not logged in. Please log in to return a rental. 
      <%= link_to "<button class='show_rent'>Log In</button>".html_safe, new_user_registration_path%>
    <% end %>
  </div>
</div>