<div class="record-row flexbox vertical">
<p style="font-size:100px">&#127754;</p>
 <strong><%= station.theme_name %></strong>
     Location: <%= station.name %> <br>
     Status: <%= station.status %> <br>
    --- Bikes available: <%= station.docked_bikes.count %> ---

    <%= link_to "<button class='show_rent'>View Bikes</button>".html_safe,rental_path(station) %>

 
</div>

 