<!DOCTYPE html>
<html>
<!-- Displays timer and end rental option for bikes -->

    <div class="payment">
        <%bike = Bike.find_by(identifier: @rental.bike_id) %>
        <h2> You are biking with <%=bike.theme_name%>! </h2>
        <br>
        <h3 id="timer"><%=@rental.rental_length_in_seconds%></h3>
        <br>

        <button class="form-buttons" id = 'ready-to-return-button' onclick = showEndRentalForm()>Ready to return?</button>

        <div id = 'end-rental-form'>
            <p>Pick a drop off station to end the ride.</p>
            <br>
            <%=form_for(@rental) do |f| %>
            
                <table summary="Fill the form fields">

                <tr>
                    <th>End Station</th>
                    <td><%= f.collection_select(:end_station_id, Station.all, :id, :name, prompt: true) %></td> 
                </tr>

                <tr>
                    <th></th>
                    <td><%= f.hidden_field(:end_time, readonly: "readonly") %></td> 
                </tr>

                </table>
                <br>
                <div>
                    <%= f.submit("Return", class:"form-buttons") %>
                </div>
            <% end %>
        </div>
    </div>

    <div id="rental-fish">
        <div id="rental-fish-animation">
            <img src=<%=image_path('fish.png') %> alt="Fish Doodle" width=150px id="rental-fish-pic">
        </div>
    </div>


    <script>
        <%= render(partial: '/rentals/timer', formats: [:js]) %>
        <%= render(partial: '/rentals/showendrentalform', formats: [:js]) %>
        <%= render(partial: '/rentals/fishanimation', formats: [:js]) %>
    </script>

</html>