<div class="rental edit">
    <%bike = Bike.find_by(identifier: @rental.bike_id) %>
    <h2> You are biking with <%=bike.theme_name%>! </h2>
    <h3 id="timer"><%=@rental.rental_length_in_seconds%></h3>
    <script>
        /* TODO
        * this is getting the seconds in a weird way (depending on the text)
        * this is masking the weird seconds by hiding the display the time is updated
        * causes an unnecessary if statement in increment()
        */

        var timer_text = document.getElementById("timer");
        timer_text.style.display = "none";
        var seconds = timer_text.innerHTML;
        
        setInterval('increment()', 1000);


        function increment() {
            seconds ++;

            seconds_text = seconds % 60;
            minutes_text = Math.floor(seconds/60) % 60;
            hours_text = Math.floor(minutes_text / 60);

            timer_text.innerHTML = hours_text + ": " + minutes_text + " : " + seconds_text;
            
            if (timer_text.style.display == "none"){
                timer_text.style.display = "block";
            }
        }

    </script>

    <button onclick = showEndRentalForm()>Ready to return?</button>

    

    <div id = 'end-rental-form'>
        <h2>End your rental by entering the following information</h2>
    
        <%=form_for(@rental) do |f| %>
        
            <table summary="Fill the form fields">

            <tr>
                <th>End Station</th>
                <td><%= f.collection_select(:end_station_id, Station.all, :id, :name, prompt: true) %></td> 
            </tr>

            <tr>
                <th>End Time</th>
                <td><%= f.text_field(:end_time, readonly: "readonly") %></td> 
            </tr>

            </table>

            <div class="form-buttons">
                <%= f.submit("Return") %>
            </div>
        <% end %>
    </div>

    <script>
        var endRentalForm = document.getElementById("end-rental-form");
        endRentalForm.style.display = "none";
        function showEndRentalForm() {
            endRentalForm.style.display = "inline";
        }

    </script>
</div>

