<%= link_to('back to stations',rentals_path, :class => 'back-link' )%>
<div class="rental new">
    <h2>Rental Form</h2>
   <br>
    <h3> You are renting the <%= Bike.find_by(identifier: @rental.bike_id).theme_name%> from the <%= Station.find_by(identifier: @rental.start_station_id).theme_name%>! </h3>
    <h4>Address: <%= Station.find_by(identifier: @rental.start_station_id).address%> </h4>
   <br>
    <div> Please press rent to start the rental </div>
        <%=form_for(@rental) do |f| %>
        
            <table summary="Fill the form fields">

            <tr>
                
                <td><%= f.hidden_field(:user_id, readonly: "readonly") %></td> 
            </tr>

            <tr>
                
                <td><%= f.hidden_field(:bike_id, readonly: "readonly") %></td> 
            </tr>

            <tr>
                
                <td><%= f.hidden_field(:card_id, readonly: "readonly") %></td> 
            </tr>

            <tr>
               
                <td><%= f.hidden_field(:start_station_id, readonly: "readonly") %></td> 
            </tr>

            <tr>
                
                <td><%= f.hidden_field(:start_time, readonly: "readonly") %></td> 
            </tr>

            </table>

            <div class="form-buttons">
                <%= f.submit("Rent") %>
            </div>


        
    <% end %>
</div>

               