<!DOCTYPE html>
<html>
<!-- Form for user to edit the fields of a bike -->
    <div class="payment">

        <div class="field">
            <%= f.label "Identifier"%><br />
            <%= f.text_field(:identifier) %>
        </div>

        <div class="field">
            <%= f.label "Current Station Identifier"%><br />
            <%=f.collection_select :current_station_id, Station.all, :identifier, :identifier_with_name %>
        </div>

        <div class="field">
            <%= f.label "Theme Name"%><br />
            <%=f.text_field(:theme_name) %>
        </div>
    </div>
</html>
