<!DOCTYPE html>
<html>
    <div class="payment">

        <div class="field">
            <%= f.label "Identifier"%><br />
            <%= f.text_field(:identifier) %>
        </div>

        <div class="field">
            <%= f.label "Current Station Identifier"%><br />
            <%=f.collection_select :current_station_id, Station.all, :identifier, :identifier_with_name %>
        </div>

        <div class="field">
            <%= f.label "Theme Name"%><br />
            <%=f.text_field(:theme_name) %>
        </div>

        <%=f.hidden_field(:status, value: "1") %>
        <%=f.hidden_field(:battery, value: 1.0) %>
        <%=f.hidden_field(:mileage, value: 0.0) %>
    </div>
</html>