<!DOCTYPE html>
<html>
<!-- Displays all bikes at a station -->

  <div class="bikes show">
    <p> <%=link_to("Back to station", station_path(Station.find_by(identifier: @bike.current_station_id))) %> </p>
    <h2>Showing bike <%=@bike.identifier%></h2>
    <div class="actions">
      <%=link_to("Edit", edit_bike_path)%>
      <%=link_to("Delete", delete_bike_path)%>
    </div>

    <table summary = "bike detail view">
      <tr>
          <th>ID</th>
          <td> <%= @bike.id %> </td>
      </tr>
      <tr>
          <th>identifier</th>
          <td> <%= @bike.identifier %> </td>
      </tr>
      <tr>
          <th>Current Station </th>
          <td><%= @bike.current_station.identifier_with_name%></td>
      </tr>
      <tr>
          <th>Theme name</th>
          <td><%= @bike.theme_name%></td>
      </tr>
    </table>
  </div>

</html>