<div class="bikes show">
  <p> <%=link_to("Back to station", station_path(Station.find_by(identifier: @bike.current_station_id))) %> </p>
  <h2>Showing bike <%=@bike.identifier%></h2>
  <div class="actions">
  </div>

  <div class="record-row2 vertical center">
    <table summary = "bike detail view">
        <tr>
            <th>ID</th>
            <td> <%= @bike.id %> </td>
        </tr>
        <tr>
            <th>identifier</th>
            <td> <%= @bike.identifier %> </td>
        </tr>
        <tr>
            <th>Current Station </th>
            <td><%= @bike.current_station.identifier_with_name%></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><%= @bike.status%></td>
        </tr>
        <tr>
            <th>Battery</th>
            <td><%= @bike.battery%></td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td><%= @bike.mileage%></td>
        </tr>
        <tr>
            <th>Theme name</th>
            <td><%= @bike.theme_name%></td>
        </tr>
    </table>
    <%= link_to "<button class='show_rent'>Edit</button>".html_safe, edit_bike_path, class: 'action edit' %>
    <%= link_to "<button class='show_rent'>Delete</button>".html_safe, delete_bike_path, class: 'action delete' %>
    </div>
</div>