<!DOCTYPE html>
<html>
<!-- Log in page for user -->

  <div class= "payment">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password", class:"input" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" , :class => 'form-buttons' %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>

  </div>

</html>
