
<%= link_to('back to payment',cards_path, :class => 'back-link' )%>
<div class="cards new">
    <h2>Payment</h2>
    <p>Please note that this card will be charged for all rentals. </p>
    <p>We have a flat fee of $5 per bike rented. </p>
    <% if Card.find_by(user_id: current_user.id).present? %>
        <div>Please edit or view your card from here:</div>
        <h2><%= link_to "Edit", edit_card_path(@card)%></h2>
        <h2><%= link_to "View", card_path(@card)%></h2>
    <% else %>
        <%=form_for(@card) do |f| %>
        
            <table summary="Fill the form fields">
            <tr>
                    <td><%= f.hidden_field(:user_id, readonly: "readonly") %></td> 
                </tr>
                <tr>
                    <th>Name on card</th>
                    <td><%= f.text_field(:name, placeholder: "Firstname Lastname") %></td> 
                </tr>

                <tr>
                    <th>Card number</th>
                    <td><%= f.text_field(:card_number, placeholder: "0000000000000000")  %></td> 
                </tr>
                
                <tr>
                    <th>CVV</th>
                    <td><%= f.text_field(:cv, placeholder: "000") %></td> 
                </tr>
                
                <tr>
                    <th>Expiration Month</th>
                    <td><%= f.select(:exp_month,["01","02","03","04","05","06","07","08","09","10","11","12"], { :class => 'my_style_class' }, selected: @card.exp_month) %></td> 
                </tr>

                <tr>
                    <th>Expiration Year</th>
                    <td><%= f.select(:exp_year,["2023","2024","2025","2026","2027","2028","2029","2030","2031","2032","2033"], { :class => 'my_style_class' }, selected: @card.exp_year) %></td> 
                </tr>

                <tr>
                    
                    <td><%= f.hidden_field(:created_at, readonly: "readonly") %></td> 
                </tr>

                <tr>
                    
                    <td><%= f.hidden_field(:updated_at, readonly: "readonly") %></td> 
                </tr>

            </table>

            <div class="form-buttons">
                <%= f.submit("Process Payment") %>
            </div>

        <% end %>
        
    <% end %>
</div>

               