<!DOCTYPE html>
<html>

<header>
<style>
</style>

<body>
    <div class="navbar1">
        <div >
        <h1 id='graken-header'> <a id='header-home-link' href= <%=root_path%>><img src=<%=image_path('logo.PNG') %> alt="Octopus riding a unibike" width=60px height=60px /> GrakenBike</a> </h1>
        </div>
        
        <nav >
            <ul >
                <li><%= link_to "Station Map", station_maps_index_path,  data: { turbo: false }%></li>
                <li><%= link_to "About Us", about_path%></li>
                <li><%= link_to "FAQ", faq_path%></li>
                <li><%= link_to "Rent Now", rentals_path%></li>
                <li><%= link_to "Updates", updates_path%></li>

                <% if user_signed_in? %>
                    <div style="float:right" class="dropdown">
                        <%= current_user.firstname %> <%= current_user.lastname %>
                        <div class="dropdown-content">
                            <%= link_to "Account", users_path%>
                            <br>
                            <%=link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }%>
                        </div>
                    </div>
                <% else %>
                    <li  style="float:right"> <%= link_to "Log in", user_session_path%></li>
                <% end %>

            </ul>
        </nav>
    </div>

</body>    
</header>

